<!-- Custom styles for this template -->
<link href="/stylesheets/cars.css" rel="stylesheet">

<!-- Pickadate stylesheets -->
<link href="/stylesheets/pickadate/classic.css" rel="stylesheet">
<link href="/stylesheets/pickadate/classic.date.css" rel="stylesheet">
<link href="/stylesheets/pickadate/classic.time.css" rel="stylesheet">
{{!-- <link href="/stylesheets/pickadate/rtl.css" rel="stylesheet"> --}}

<div class="container">
	<div class="row">
		<div class="col-md-1 col-md-offset-11 col-xs-3 col-xs-offset-8">
			<h1 class="page-header">רכבים</h1>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
			<div class="table-responsive">
				<table id="carsTable" class="table table-striped">
					<thead>
						<tr>
							<th>זמין למשך</th>
							<th>זמין משעה</th>
							<th>זמין מתאריך</th>
							<th>טלפון של הנהג</th>
							<th>שם הנהג</th>
							<th>סוג רכב</th>
						</tr>
					</thead>
					<tbody>
						{{#each cars}}
						<tr carId={{_id}}>
							<td>
								שעות 
								<input type='number' class="availableDuration" min="1" max="24"/>
							</td>
							<td>
								<input type="text" class="timePicker" />
							</td>
							<td class="epochDateColumn">
								<input type='text' class="datePicker" epoch="{{availableFrom}}" data-date-format="D/M"/>
							</td>
							<td>
								<span contentEditable="true"> {{driverNumber}} </span>
							</td>
							<td>
								<span contentEditable="true"> {{driverName}} </span>
							</td>
							<td class="carTypeIconColumn">
								{{#if van}}
									<img src="/images/van.png" alt="Van" width="40px">
								{{else}}
									<img src="/images/privateCar.png" alt="Private" width="40px">
								{{/if}}
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="/javascripts/jquery.tablesorter.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/pickadate/picker.js"></script>
<script src="/javascripts/pickadate/picker.date.js"></script>
<script src="/javascripts/pickadate/picker.time.js"></script>

<script>
	$(function(){
		// When page loads attach the table sorter to the table.
		// It is possible to pass parameters to decide which columns he will sort by in the beginning.
		$("#carsTable").tablesorter();

		var datePickerElements = $('.datePicker');
		$.each(datePickerElements, function(index, element) {
			var jqueryElement = $(element);
			var epochDate = jqueryElement.attr('epoch');
			jqueryElement.pickadate({ 
				onClose: _updateEpochAttribute,
				format: "yyyy-mm-dd"
			});
		});

		var timePickerElements = $('.timePicker');
		$.each(timePickerElements, function(index, element) {
			var jqueryElement = $(element);
			jqueryElement.pickatime({
				min: [6,0],
    			max: [23,0],
    			onSet: _onSetTime
			});
		});
	});

	function _updateEpochAttribute() {
		var dateString = this.get();
		var date = moment(dateString);
		var dateInputElementId = this.get('id');
		var dateInputElement = $('#'+dateInputElementId);
		dateInputElement.attr('epoch', date.unix());
	}

	function _onSetTime(minutesSinceMidnight) {
        console.log('Just set stuff:', minutesSinceMidnight);
    }
</script>