<!-- Custom styles for this template -->
<link href="/stylesheets/cars.css" rel="stylesheet">

<!-- Pickadate stylesheets -->
<link href="/stylesheets/pickadate/classic.css" rel="stylesheet">
<link href="/stylesheets/pickadate/classic.date.css" rel="stylesheet">
<link href="/stylesheets/pickadate/classic.time.css" rel="stylesheet">
{{!-- <link href="/stylesheets/pickadate/rtl.css" rel="stylesheet"> --}}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header pull-right">רכבים</h1>

			<div class="table-responsive">
				<table id="carsTable" class="table table-striped">
					<thead>
						<tr>
							<th>זמין עד</th>
							<th>זמין מ</th>
							<th>טלפון של הנהג</th>
							<th>שם הנהג</th>
							<th>סוג רכב</th>
						</tr>
					</thead>
					<tbody>
						{{#each cars}}
						<tr carId={{_id}}>
							<td class="epochDateColumn">
								<input type='text' class="datetimepicker" epoch="{{availableUntil}}" data-date-format="D/M, H:mm"/>
							</td>
							<td class="epochDateColumn">
								<input type='text' class="datetimepicker" epoch="{{availableFrom}}" data-date-format="D/M, H:mm"/>
							</td>
							<td>
								<span contentEditable="true"> {{driverNumber}} </span>
							</td>
							<td>
								<span contentEditable="true"> {{driverName}} </span>
							</td>
							<td class="carTypeIconColumn">
								{{#if van}}
									<img src="/images/van.png" alt="Van" width="40px">
								{{else}}
									<img src="/images/privateCar.png" alt="Private" width="40px">
								{{/if}}
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="/javascripts/jquery.tablesorter.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/pickadate/picker.js"></script>
<script src="/javascripts/pickadate/picker.date.js"></script>
<script src="/javascripts/pickadate/picker.time.js"></script>

<script>
	$(function(){
		// When page loads attach the table sorter to the table.
		// It is possible to pass parameters to decide which columns he will sort by in the beginning.
		$("#carsTable").tablesorter();

		var dateTimeElements = $('.datetimepicker');
		$.each(dateTimeElements, function(index, element) {
			var jqueryElement = $(element);
			var epochDate = jqueryElement.attr('epoch');
			jqueryElement.pickadate({ 
				onClose: _onDatePickerClose,
				format: "yyyy-mm-dd"
			});
		});
	});

	function _onDatePickerClose() {
		var dateString = this.get();
		var date = moment(dateString);
		var dateInputElementId = this.get('id');
		var dateInputElement = $('#'+dateInputElementId);
		dateInputElement.attr('epoch', date.unix());
	}
</script>