<!-- Custom styles for this template -->
<link href="/stylesheets/consumers.css" rel="stylesheet">

<div class="container">
	<div class="row">
		<div class="col-md-1">
			<h1 class="page-header">פניות</h1>	
		</div>
		<div class="col-md-1 col-md-offset-10">
			<button type="button" id="addConsumerButton" class="btn btn-primary page-header">פניה חדשה</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-12 main">
			<div class="table-responsive">
				<table id="consumerTable" class="table table-striped">
					<thead>
						<tr>
							<th>שם</th>
							<th>טלפון</th>
							<th class="addressNotesTableHeader">תאריכים פנויים</th>
							<th class="addressNotesTableHeader">סוג הפריט</th>
							<th class="addressNotesTableHeader">תיאור הפריט</th>
							<th class="addressNotesTableHeader">כתובת הפונה</th>
							<th>קומה</th>
							<th class="addressNotesTableHeader">מספר דירה</th>
							<th>מעלית</th>
							<th>חניה</th>
							<th class="addressNotesTableHeader">הערות על הכתובת</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each consumers}}
						<tr id={{_id}} class="nonHeaderTableRow" >
							<td class="nameTd">
								{{name}}
							</td>
							<td class="phoneNumberTd">
								{{phoneNumber}}
							</td>
							<td class="convenientDatesTd">
								{{convenientDates}}
							</td>
							<td class="itemCategoryTd">
								{{item.category}}
							</td>
							<td class="itemDescriptionTd">
								{{item.description}}
							</td>
							<td class="addressTd" lat="{{address.latitude}}" lon="{{address.longitude}}" geoQueryString="{{address.geoQueryString}}" geoDisplayString="{{address.geoDisplayString}}">
								{{#if address.latitude}}
								<a href="http://maps.google.com/?q={{address.latitude}},{{address.longitude}}" target="_blank">{{address.geoDisplayString}}</a>
								{{else}}
								{{address.geoDisplayString}}
								{{/if}}
							</td>
							<td class="addressFloorTd">
								{{address.floor}}
							</td>
							<td class="addressFlatNumberTd">
								{{address.flatNumber}}
							</td>
							<td class="nonEditable">
								{{#if address.hasElavator}}
								<input type="checkbox" class="hasElevatorCheckbox" checked="true" disabled="true">
								{{else}}
								<input type="checkbox" class="hasElevatorCheckbox" disabled="true">
								{{/if}}
							</td>
							<td class="nonEditable">
								{{#if address.hasParking}}
								<input type="checkbox" class="hasParkingCheckbox" checked="true" disabled="true">
								{{else}}
								<input type="checkbox" class="hasParkingCheckbox" disabled="true">
								{{/if}}
							</td>
							<td class="addressDescriptionTd">
								{{address.description}}
							</td>
							<td class="nonEditable">
								<span title="ערוך" class="glyphicon glyphicon-pencil editIcon"></span>
								<span title="מחק" class="glyphicon glyphicon-remove deleteIcon"></span>
								<span class="glyphicon glyphicon-ok finishedEditingIcon"></span>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {

		$('#addConsumerButton').off('click').on('click', function() {
			window.location.href = 'consumers/createConsumerForm';
		});

		$.hib.makeTableRowsEditable("consumer", _buildObjectToUpdateFunc, _makeRowEditableAdditionalActions, _makeRowNonEditableAdditionalActions);

		function _makeRowEditableAdditionalActions(rowElement) {
			rowElement.find(':checkbox').attr('disabled', false);
		}

		function _makeRowNonEditableAdditionalActions(rowElement) {
			rowElement.find(':checkbox').attr('disabled', true);
		}

		function _buildObjectToUpdateFunc(rowElement) {
			var addressTdElement = rowElement.find('.addressTd');
			var geoDisplayString = $.trim(_getDeepestChild(addressTdElement).text());

			var hasAddressChanged = geoDisplayString !== addressTdElement.attr('geoDisplayString');

			var geoQueryString, lat, lon;
			if (hasAddressChanged) {
				geoQueryString = lat = lon = undefined;
			} else {
				geoQueryString = addressTdElement.attr('geoQueryString');
				lat = addressTdElement.attr('lat');
				lon = addressTdElement.attr('lon');
			}

			var consumerToCreate = {
				_id: rowElement.attr('id'),
				name: $.trim(rowElement.find('.nameTd').text()), 
				phoneNumber: $.trim(rowElement.find('.phoneNumberTd').text()),
				convenientDates: $.trim(rowElement.find('.convenientDatesTd').text()),
				item: {
					category: $.trim(rowElement.find('.itemCategoryTd').text()),
        			//requiresDismanteling: true,
        			description: $.trim(rowElement.find('.itemDescriptionTd').text())
        		},
        		address: {
        			geoQueryString: geoQueryString,
        			geoDisplayString: geoDisplayString,
        			latitude: lat,
        			longitude: lon,
        			floor: $.trim(rowElement.find('.addressFloorTd').text()),
        			flatNumber: $.trim(rowElement.find('.addressFlatNumberTd').text()),
        			hasElavator: rowElement.find('.hasElevatorCheckbox').is(":checked"),
        			hasParking: rowElement.find('.hasParkingCheckbox').is(":checked"),
        			description: $.trim(rowElement.find('.addressDescriptionTd').text())
        		}
        	}

        	return consumerToCreate;
        }

        function _getDeepestChild(element) {
        	var target = $(element).children();

        	while(target.length && !target.is('a') && !target.is('span')) {
        		target = target.children();
        	}

        	return target;
        }
    });
</script>
