<!-- Custom styles for this template -->
<link href="/stylesheets/consumers.css" rel="stylesheet">

<div class="container">
	<div class="row">
		<div class="col-md-1">
			<h1 class="page-header">פניות</h1>	
		</div>
		<div class="col-md-1 col-md-offset-10">
			<button type="button" id="addConsumerButton" class="btn btn-primary page-header">פניה חדשה</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-12 main">
			<div class="table-responsive">
				<table id="consumerTable" class="table table-striped">
					<thead>
						<tr>
							<th>שם</th>
							<th>טלפון</th>
							<th class="addressNotesTableHeader">תאריכים פנויים</th>
							<th class="addressNotesTableHeader">סוג הפריט</th>
							<th class="addressNotesTableHeader">תיאור הפריט</th>
							<th class="addressNotesTableHeader">כתובת הפונה</th>
							<th>קומה</th>
							<th class="addressNotesTableHeader">מספר דירה</th>
							<th>מעלית</th>
							<th>חניה</th>
							<th class="addressNotesTableHeader">הערות על הכתובת</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each consumers}}
						<tr consumerId={{_id}} id={{_id}} class="nonHeaderTableRow" >
							<td>
								{{name}}
							</td>
							<td>
								{{phoneNumber}}
							</td>
							<td>
								{{convenientDates}}
							</td>
							<td>
								{{item.category}}
							</td>
							<td>
								{{item.description}}
							</td>
							<td class="addressTd">
								{{#if address.latitude}}
								<a href="http://maps.google.com/?q={{address.latitude}},{{address.longitude}}" target="_blank">{{address.geoDisplayString}}</a>
								{{else}}
								{{address.geoDisplayString}}
								{{/if}}
							</td>
							<td>
								{{address.floor}}
							</td>
							<td>
								{{address.flatNumber}}
							</td>
							<td>
								{{#if address.hasElavator}}
								כן
								{{/if}}
							</td>
							<td>
								{{#if address.hasParking}}
								כן
								{{/if}}
							</td>
							<td>
								{{address.description}}
							</td>
							<td class="iconsTd">
								<span title="ערוך" class="glyphicon glyphicon-pencil editIcon"></span>
								<span title="מחק" class="glyphicon glyphicon-remove deleteIcon"></span>
								<span class="glyphicon glyphicon-ok finishedEditingIcon"></span>
								{{!-- <button type="button" class="btn btn-danger btn-xs deleteIcon">מחק</button> --}}
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		$('.finishedEditingIcon').hide();

		$('#addConsumerButton').off('click').on('click', function() {
			window.location.href = 'consumers/createConsumerForm';
		});

		$('.deleteIcon').off('click').on('click', function() {
			var parentRowElement = $(this).closest('tr');
			bootbox.confirm('למחוק את הפניה?', function(userWantsToDelete) {
				if (userWantsToDelete) {
					var consumerIdToDelete = parentRowElement.attr('consumerId');
					$.ajax({
						url: '/consumers/' + consumerIdToDelete,
						type: 'DELETE',
						success: function(result) {
							console.log("Deleted consumer with id " + consumerIdToDelete);
							parentRowElement.remove();
						},
						error: function() {
							bootbox.alert("Failed deleting consumer");
						}
					});
				}
			});
		});

		$('.editIcon').off('click').on('click', function() {
			var editIconElement = $(this);
			var deleteIconElement = editIconElement.siblings('.deleteIcon');
			var finishedEditingIconElement = editIconElement.siblings('.finishedEditingIcon');

			editIconElement.hide();
			deleteIconElement.hide();
			finishedEditingIconElement.show();

			//$('td').not(this).block({message: null});

			var parentRowElement = editIconElement.closest('tr');
			_makeRowEditable(parentRowElement);
			
		});

		$('.finishedEditingIcon').off('click').on('click', function() {
			var finishedEditingIconElement = $(this);
			var deleteIconElement = finishedEditingIconElement.siblings('.deleteIcon');
			var editIconElement = finishedEditingIconElement.siblings('.editIcon');

			finishedEditingIconElement.hide();
			deleteIconElement.show();
			editIconElement.show();

			var parentRowElement = finishedEditingIconElement.closest('tr');
			_makeRowNotEditable(parentRowElement);

		});

		// Double click on row will be like clicking the edit icon of that row
		$('.nonHeaderTableRow').off('click').on('dblclick', function(event) {
			var tableRowElement = $(this);
			// If we are not already editing this row, make it editable
			if (!tableRowElement.hasClass('rowBeingEdited')) {
				tableRowElement.find('.editIcon').click();
			}
			// focus on the clicked cell in the table
			$(event.target).focus();
		});

		function _makeRowEditable(rowElement) {
			rowElement.addClass("rowBeingEdited");
			rowElement.children('td').not('.iconsTd').attr('contenteditable', true);
			_detectClickOutsideRowAndMakeItNotEditable(rowElement);
		}

		function _makeRowNotEditable(rowElement) {
			rowElement.removeClass("rowBeingEdited");
			rowElement.children('td').not('.iconsTd').removeAttr('contenteditable');
		}

		// When clicking outside a row we want to make it not editable
		function _detectClickOutsideRowAndMakeItNotEditable(rowElement) {
			$(document).off('click').on('click', function(event) { 
				var rowId = rowElement.attr('id');
				// If event target is not a child of the row, make row uneditable
				if(!$(event.target).closest('#' + rowId).length) {
					rowElement.find('.finishedEditingIcon').click();
					$(document).unbind('click');
				}      
			});
		}
	});
</script>